/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* HTML element (SMACSS base) rules */
@import "normalize.css";

/* Layout rules */
@import "layouts/responsive.css";

/* Component (SMACSS module) rules */
@import "components/misc.css";
/* Optionally, add your own components here. */
@import "print.css";

/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */


a {
    font-family: "adobe-garamond-pro";
    text-decoration: none;
    color: #669999;
}

a:active {
    text-decoration: line-through;
}

a:hover {
    color: #DEC3C3;
}

.header__logo-image {
    display: none;
}

#site-name {
    text-align: center;
    font-family: "proxima-nova";
    letter-spacing: 20px;
    font-style: italic;
    font-weight: 300;
    font-size: 54px;
    line-height: 1.6em;
}

#site-slogan {
    font-family: "adobe-garamond-pro";
    text-align: center;
}

/* Banner DIV */
#name-and-slogan {
    width: 100%;
}

#main-menu {
    font-family: "adobe-garamond-pro";
    letter-spacing: 7px;
    margin-left: 20%;
}

body {
    font-family: "adobe-garamond-pro";
    font-size: 18px;
    line-height: 1.4em;
}

#content {
    font-family: "proxima-nova";
    font-weight: 300;
    text-align: center;
    font-style: italic;
    line-height: 1.6em;
}

p {
    font-size: 15px;
    font-style: normal;
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}

#recentproject-ajax-wrapper {
    width: 50%;
}

h2 {
    letter-spacing: 8px;
}

#page-title {
    letter-spacing: 8px;
}

ol {
    display: none;
}

/* Landing Page */
.field-label {
    display: none;
}

img {
    border-radius: 500px;
}

#block-user-login {
    margin-left: 40%;
}
