/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* HTML element (SMACSS base) rules */
@import "normalize.css";

/* Layout rules */
@import "layouts/responsive.css";

/* Component (SMACSS module) rules */
@import "components/misc.css";
/* Optionally, add your own components here. */
@import "print.css";

/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */

/*Links*/
a {
    font-family: "adobe-garamond-pro";
    text-decoration: none;
    color: #669999;
}

a:active {
    text-decoration: line-through;
}

a:hover {
    color: #DEC3C3;
}

/*Remove Logo*/
.header__logo-image {
    display: none;
}

/*Site Name*/
#site-name {
    text-align: center;
    font-family: "proxima-nova";
    letter-spacing: 20px;
    font-style: italic;
    font-weight: 300;
    font-size: 54px;
    line-height: 1.6em;
}


#site-slogan {
    font-family: "adobe-garamond-pro";
    margin-left: 31%;
    letter-spacing: 5px;
}

/* Banner DIV */
#name-and-slogan {
    width: 100%;
}

/*Navigation Menu*/
#main-menu {
    /*font-family: "adobe-garamond-pro";
    letter-spacing: 7px;*/
    /*margin-left: 30%;*/
    display: none;
}

#navigation {
    font-family: "adobe-garamond-pro";
    letter-spacing: 7px;
    text-align: center;
}

/*Center main menu*/
.menu {
    display: inline-block;
    float: none;
}

body {
    font-family: "adobe-garamond-pro";
    font-size: 18px;
    line-height: 1.4em;
    background-color: #EBE0D6;
}

/*Content on all pages*/
#content {
    font-family: "proxima-nova";
    font-weight: 300;
    text-align: center;
    font-style: italic;
    line-height: 1.6em;
}

p {
    font-size: 15px;
    font-style: normal;
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}

/*Div margins for Recent Projects*/
#recentproject-ajax-wrapper {
    width: 50%;
}

/*Remove 'Home' link from recent projects block*/
ol {
    display: none;
}

h2 {
    letter-spacing: 8px;
}

#page-title {
    letter-spacing: 8px;
}

/* Landing Page */
.field-label {
    display: none;
}

img {
    border-radius: 50px;
}

/*Center and space 'User Login'*/
#block-user-login {
    margin-left: 42%;
    padding-top: 100px;
}

li {
    font-style: normal;
    font-size: 15px;
    text-align: left;
}

/*Resize Landing Page image*/
.field-name-field-profile-pic {
    margin-left: 30%;
    margin-right: 30%;
    /*margin-bottom: 10%;*/
}

/*Submit button on DNA module*/
#edit-submit {
    letter-spacing: 5px;
}

/*Project Author*/
.submitted {
    text-align: center;
}

#page-title {
    display: none;
}
